@import 'consts';

.cart{
    animation: fade-in 1s;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart__text{
    padding: 45px 50px;
    color: white;
    background: $transparent;
    h2{
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        color: $aqua;
        font-size: 29px;
        margin-bottom: 22.410px;
    }
    p{
        line-height: 32.4px;
        font-size: 18px;
        margin-bottom: 18px;
    }
}

.cart__list{
    display: flex;
    flex-direction: column;
    background: $transparent;
    padding: 10px 10px 40px 10px;
    h5{
        font-size: 22px;
        color: white;
        margin-left: 10px;
    }
}

.cartProducts{
    display: flex;
    flex-direction: column;
    hr{
        border: none;
        height: 1px;
        color: #adafb5;
        background-color: #adafb5;
        margin: 15px 0;
    }
    .product{
        display: flex;
        gap: 20px;
    }
    img{
        width: 150px;
    }
    .product__description{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        width: calc(100% - 170px);
    }
    .info, .product-control{
        display: flex;
        justify-content: space-between;
    }
    h6{
        font-size: 18px;
        color: white;
        font-weight: 700;
    }
    .line{
        width: 1px;
        display: inline-block;
        height: 15px;
        margin: 0 10px;
        background: #adafb5;
    }
    .info__price{
        color: #adafb5;       
    }
    .info__inStock{
        font-weight: bold;
        color: #6acc38;
    }
    .main{
        div{
            display: flex;
            align-items: center;
            margin-top: 5px;
        }
    }
    .totalProductPrice{
        font-size: 20px;
        font-weight: bold;
        color: white;
        letter-spacing: 2px;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
    .quantity{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 120px;
        background-color: white;
        border-radius: 10px;
        height: 35px;
        span{
            display: block;
            width: 33%;
            text-align: center;
        }
        span.minus, span.plus{
            cursor: pointer;
        }
    }
    .deleteFromCart{
        cursor: pointer;
        display: flex;
        gap: 10px;
        align-items: center;
        border: none;
        background: transparent;
        color: white;
        font-size: 18px;
        width: 90px;
    }
}

.pricing{
    background-color: $transparent;
    align-self: flex-end;
    padding: 15px;
    width: 70%;
    display: flex;
    flex-direction: column;
    h6{
        font-size: 18px;
        color: white;
    }
    .border{
        width: 100%;
        margin-top: 10px;
        height: 2px;
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='white' stroke-width='3' stroke-dasharray='2%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    }
}

.pricing__date{
    margin-top: 10px;
    .switch-field {
        display: flex;
        margin-bottom: 25px;
        overflow: hidden;
    }
    .switch-field input {
        position: absolute !important;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        width: 1px;
        border: 0;
        overflow: hidden;
    }
    .switch-field label {
        background-color: #e4e4e4;
        color: rgba(0, 0, 0, 0.6);
        font-size: 14px;
        line-height: 1;
        text-align: center;
        padding: 8px 16px;
        margin-right: -1px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border: 5px solid #e4e4e4;
        font-weight: bold;
        transition: all 0.1s ease-in-out;
        color: #5f6063;
    }
    
    .switch-field label:hover {
        cursor: pointer;
    }
    
    .switch-field input:checked + label {
        background-color: white;
        box-shadow: none;
        transition: 0.55s;
        color: black;
    }
    
    .switch-field label:first-of-type {
        border-radius: 4px 0 0 4px;
    }
    
    .switch-field label:last-of-type {
        border-radius: 0 4px 4px 0;
    }
    span{
        font-weight: 600;
        color: white;
    }
}

.pricing__promocode{
    margin-top: 20px;
    form{
        display: flex;
        width: 100%;
        height: 40px;
    }
    input{
        width: calc(100% - 100px);
        border: none;
        border-radius: 10px 0px 0px 10px;
        padding: 10px 10px 10px 20px;
    }
    input::placeholder, button{
        font-weight: 600;
        font-size: 15px;
    }
    button{
        width: 100px;
        border-radius: 7px;
        border: none;
        margin-left: -5px;
        cursor: pointer;
    }
    p{
        color: #e4e4e4;
        margin-top: 10px;
        margin-left: 5px;
    }
}

.pricing__subtotal{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 5px;
    div{
        display: flex;
        justify-content: space-between;
    }
    span{
        color: #e4e4e4;
    }
    .subtotal span{
        font-size: 19px;
        font-weight: 600;
        color: white;
    }
}

.pricing__total{
    margin-left: 5px;
    margin-top: 10px;
    div{
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        font-weight: bold;
        color: white;
    }
}

.pricing__action{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    button{
        width: 98%;
        height: 35px;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        color: $green;
        background: white;
        border: none;
        transition: .5s
    }
    button:hover{
        color: white;
        background-color: $green;
    }
}

.cart__notification{
    display: flex;
    flex-direction: column;
    background: $transparent;
    justify-content: center;
    align-items: center;
    color: white;
    min-height: 200px;
    svg{
        height: 50px;
    }
    h2{
        margin-top: 20px;
    }
    h4{
        margin-top: 10px;
    }
    a{
        color: $aqua;
        text-decoration: underline;
    }
}

@media screen and (max-width:576px) {
    .pricing{
        align-self: center;
        width: 90%;
    }
}

@media screen and (max-width:480px){
    .cartProducts .product{
        flex-direction: column;
        align-items: center;
        img{
            width: 80%;
        }
        .product__description{
            width: 80%;
        }
    }
    .pricing__subtotal{
        span{
            text-align: right;
        }
    }
    .cart__notification{
        h2{
            font-size: 20px;
        }
        h4{
            font-size: 16px;
        }
    }
}

@media screen and (max-width:380px){
    .cartProducts .product .product-control{
        flex-direction: column;
        gap: 25px;
    }
    .cart__notification{
        h2{
            font-size: 18px;
            text-align: center;
        }
        h4{
            font-size: 14px;
            text-align: center;
        }
    }
}

@media screen and (max-width:335px){
    .switch-field label {
        padding: 8px 8px !important;
    }
}