@font-face{
    font-family: 'EBCorp-Regular';
    src: url(../assets/fonts/EBCorp-RegularOblique.ttf)
}

@font-face{
    font-family: 'EBCorp-Medium';
    src: url(../assets/fonts/EBCorp-MediumOblique.ttf)
}

$green: #099;
$EBCorp-Regular: 'EBCorp-Regular';
$EBCorp-Medium: 'EBCorp-Medium'