@import "consts";

.modal-background{
    background-color:rgba(0,0,0,0.45) ;
    position:fixed;
    width: 100%;
    min-height: 100vh;
    bottom: 0;
    top: 0;
    left: 0;
    animation: fade-in 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-out
}

.modal{
    background: $transparent;
    width: 40%;
    top: 40px;
    margin: 0 auto; 
    min-height: 200px;
    overflow: visible;
}

.closeModal{
    position: fixed;
    right: 10px;
    top: 10px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.visible {
    opacity: 1;
}

.hidden {
    transition: 1s;
    opacity: 0;
}

@media screen and(max-width:992px) {
    .modal{
        width: 60%;
    }
}

@media screen and(max-width:574px){
    .modal{
        margin: 30px auto 115px auto;
        width: 85%;
    }
}
