@import 'consts';

.notification{
    position: fixed;
    bottom: 4px;
    right: 4px;
    width: max-content;
    border-radius: 6px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    animation: fade-in 5s linear;
}

.success-notification{
    background-color: #313e2c;
    color: #aaec8a;
}

.error-notification{
    background: rgb(110, 22, 22);
    color: rgb(238, 79, 79);
    color: white;
    .notification__progress{
        background: linear-gradient(to right, rgb(110, 22, 22), white);
    }
}

.notification__icon{
    height: 26px;
    width: 26px;
    margin-right: 4px;
}

.notification__body{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 8px;
}

.notification__progress{
    position: absolute;
    left: 4px;
    bottom: 4px;
    width: calc(100% - 8px);
    height: 3px;
    transform: scale(0);
    transform-origin: left;
    background: linear-gradient(to right, #313e2c, #aaec8a);
    border-radius: inherit;
    animation: progress 4.5s 0.3s linear;
}

@keyframes fade-in{
    5%{
        opacity: 1;
        visibility: visible;
    }
    95%{
        opacity: 1;
    }
    100%{
        display: none;
    }
}

@keyframes progress{
    to{
        transform: scaleX(1);
    }
}