@import 'consts';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

main{
    padding: 30px 30px 115px 30px;
    display: flex;
}

.main__left, .main__right{
    width: 50%;
}

@media (max-width: 1130px) and (min-width: 992px){
    .main__left{
        width: 45%;
    }
    .main__right{
        width: 55%;
    }
}

@media screen and (max-width: 992px){
    main{
        flex-direction: column;
    }
    .main__left, .main__right{
        width: 100%;
    }
    .main__left{
        margin-bottom: 50px;
    }
}

@import 'navbar';
@import 'about';
@import 'contact';
@import 'filterbar';
@import 'card';
@import 'list'