@import 'consts';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

main{
    padding: 30px;
    display: flex;
}

.main__left{
    width: 50%;
}

@media screen and (max-width: 992px){
    main{
        flex-direction: column;
    }
    .main__left{
        width: 100%;
    }
}

@import 'navbar';