@font-face {
  font-family: 'EBCorp-Regular';
  src: url(../assets/fonts/EBCorp-RegularOblique.ttf);
}

@font-face {
  font-family: 'EBCorp-Medium';
  src: url(../assets/fonts/EBCorp-MediumOblique.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

#background-video {
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

main {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__left, .main__right {
  width: 50%;
}

@media (max-width: 1130px) and (min-width: 992px) {
  .main__left {
    width: 45%;
  }
  .main__right {
    width: 55%;
  }
}

@media screen and (max-width: 992px) {
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__left, .main__right {
    width: 100%;
  }
  .main__left {
    margin-bottom: 50px;
  }
}

@font-face {
  font-family: 'EBCorp-Regular';
  src: url(../assets/fonts/EBCorp-RegularOblique.ttf);
}

@font-face {
  font-family: 'EBCorp-Medium';
  src: url(../assets/fonts/EBCorp-MediumOblique.ttf);
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 500px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  position: fixed;
}

header {
  width: 100%;
  height: 160px;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__icon {
  font-size: 54px;
}

header h1 {
  font-size: 36.2px;
  font-family: "EBCorp-Regular";
  font-style: italic;
  font-weight: 700;
  margin-top: calc(23.584px/2);
}

.nav__item, header {
  color: #099;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  min-width: 240px;
  width: 240px;
  height: 100px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav__item span {
  font-size: 20.2px;
}

.nav__icon {
  margin: 0 25px;
  font-size: 25px;
}

.active, .nav__item:hover {
  background: #099;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 1130px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1130px) and (min-width: 992px) {
  nav {
    max-width: 380px;
  }
}

@media screen and (max-width: 992px) {
  nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: static;
  }
}

@media screen and (max-width: 574px) {
  .nav__item {
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  header h1 {
    font-size: 41.6px;
  }
}

@font-face {
  font-family: 'EBCorp-Regular';
  src: url(../assets/fonts/EBCorp-RegularOblique.ttf);
}

@font-face {
  font-family: 'EBCorp-Medium';
  src: url(../assets/fonts/EBCorp-MediumOblique.ttf);
}

.aboutUs {
  max-width: 660px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.aboutUs h2 {
  color: #3CC;
  font-size: 29px;
  margin-bottom: 22.410px;
}

.aboutUs img {
  width: 200px;
  height: 200px;
}

.aboutUs p {
  line-height: 32.4px;
  font-size: 19px;
}

.aboutUs__block1 {
  padding: 40px 30px 50px 0;
  background: rgba(0, 0, 0, 0.615);
}

.aboutUs__block1 h2 {
  margin-left: 220px;
}

.block1__content {
  margin-top: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

.block1__content-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 18px;
}

.aboutUs__block2 {
  background: rgba(0, 0, 0, 0.615);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 40px 30px;
}

.block2__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

@media screen and (max-width: 550px) {
  .aboutUs__block2 {
    gap: 18px;
  }
}

@media (max-width: 550px) and (min-width: 501px) {
  .aboutUs img {
    width: 160px;
    height: 160px;
  }
  .aboutUs__block1 h2 {
    margin-left: 180px;
  }
  .aboutUs p {
    font-size: 18.5px;
  }
}

@media screen and (max-width: 500px) {
  .aboutUs__block1 {
    padding-left: 30px;
  }
  .block1__content, .block2__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutUs__block2 {
    gap: 18px;
  }
  .aboutUs h2 {
    margin-left: 0;
    font-size: 27px;
  }
}

@font-face {
  font-family: 'EBCorp-Regular';
  src: url(../assets/fonts/EBCorp-RegularOblique.ttf);
}

@font-face {
  font-family: 'EBCorp-Medium';
  src: url(../assets/fonts/EBCorp-MediumOblique.ttf);
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  max-width: 660px;
}

.contact__text {
  padding: 45px 50px;
  color: white;
  background: rgba(0, 0, 0, 0.615);
}

.contact__text h2 {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  color: #3CC;
  font-size: 29px;
  margin-bottom: 22.410px;
}

.contact__text p {
  line-height: 32.4px;
  font-size: 18px;
  margin-bottom: 18px;
}

.contact__form {
  background: rgba(0, 0, 0, 0.615);
  max-width: 460px;
  padding: 40px 50px;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.contact__form input, .contact__form textarea {
  padding: 15px;
  width: 100%;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 16.5px;
  line-height: 24px;
  font-weight: 400;
  background: transparent;
  color: #fff;
  border: 0;
  border-bottom: 1px solid white;
}

.contact__form input::-webkit-input-placeholder, .contact__form textarea::-webkit-input-placeholder {
  color: #fff;
  font-size: 16.5px;
}

.contact__form input:-ms-input-placeholder, .contact__form textarea:-ms-input-placeholder {
  color: #fff;
  font-size: 16.5px;
}

.contact__form input::-ms-input-placeholder, .contact__form textarea::-ms-input-placeholder {
  color: #fff;
  font-size: 16.5px;
}

.contact__form input::placeholder, .contact__form textarea::placeholder {
  color: #fff;
  font-size: 16.5px;
}

.contact__form input {
  margin-bottom: 25px;
}

.contact__form button {
  color: #099;
  background: white;
  padding: 12px 40px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 22.4px;
  font-family: Arial;
  border: 0;
  margin-top: 30px;
  float: right;
  cursor: pointer;
}

.contact__form button:hover {
  color: white;
  background: #099;
}
/*# sourceMappingURL=style.css.map */